#sort {
    margin-top: 1rem;

    & h3 {
        display: inline;
    }

    & .button {
        margin: 0 0.25rem;
    }
}

.sort-ocr-warning {
    margin-top: 0.5rem;
    color: var(--text-darkest);
    display: none;
}

body:has(#sort a[value=d].checked) .sort-ocr-warning,
body:has(#sort a[value=a].checked) .sort-ocr-warning,
body:has(#sort a[value=x].checked) .sort-ocr-warning {
    display: block;
}

#files ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 0.5rem;
    max-width: 150rem;
}

.file-entry {
    --height: 40rem;
    /* Match Japanese B6 paper format, common for manga */
    --normal-width: calc(var(--height) / (182 / 128));

    &.drive {
        --height: 20rem;
    }

    width: min(calc(100% - 2rem), var(--normal-width));
    margin: 1rem;
    text-decoration: none;

    > a[id] {
        scroll-margin-top: calc(50vh - var(--height) / 2 - 3rem - 1.6rem);
    }

    &:has(span[title^="Read the"]) {
        & .file-name, .folder-status {
            opacity: 0.6;
        }
    }

    & .file-name {
        margin: 0.5rem 0;
        font-weight: normal;

        & a {
            text-decoration: none;
            font-size: 1.6rem;
        }
    }

    & .folder-status {
        white-space: nowrap;

        & span {
            white-space: nowrap;
        }

        & span[title$="OCR'ed"][title^="0/"] {
            color: var(--text-darkest);
        }

        & span[title$="OCR'ed"][title^="0/0"] {
            display: none;
        }
    }

    & .file-thumbnail {
        position: relative;
        min-width: 100%;
        width: 100%;
        height: var(--height);
        min-height: var(--height);
        object-fit: contain;
        border: 1px solid var(--borders);
        background: var(--backgrounds);

        &:after {
            text-decoration: none;
            font-size: calc(var(--height) / 4);
            line-height: var(--height);

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--backgrounds);
            text-align: center;
            content: attr(alt);
            box-sizing: border-box;
            border: 1px solid var(--borders);
        }
    }
}
