@import "fonts.css";

html {
    font-size: 62.5%;
}

body {
    background: black;
    color: lightyellow;
    text-align: center;
    font-family: var(--sans);
    font-size: 1.6rem;
}

:focus-visible {
    outline: 1px solid crimson;
}

nav, h4 {
    color: gray;
    word-wrap: break-word;
}

nav a {
    text-decoration: none;
}

img {
    width: 100%;
    outline: 1px solid #333;
    user-select: none;
}

a {
    color: crimson;
}

h4 a {
    color: gray;
    text-decoration: none;
    border: 1px solid #333;
    padding: 0.3rem 0.75rem;
}

.page {
    position: relative;
    display: inline-block;
}

.page p {
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    line-height: 1.1em;
    background: hsl(55 100% 95%);
    color: black;
    margin: 0;
    border: 1rem solid transparent;
    outline: 1px solid black;
    translate: -1rem -1rem;
    overflow-x: auto;

    &:hover {
        opacity: 1;
    }
}

#non-images > a {
    display: inline-block;
    vertical-align: bottom;
    scroll-margin-top: calc(50vh - 40rem / 2 - 3rem - 1.6rem);
    width: 25%;
    min-width: min(calc(100% - 2rem), 25rem);
    max-width: 60rem;
    margin: 1rem;
    text-decoration: none;

    & > h4 {
        text-decoration: underline;
        text-decoration-color: crimson;
        margin: 1.5rem 0;
    }

    > img {
        position: relative;
        min-width: 100%;
        height: 40rem;
        min-height: 40rem;
        object-fit: contain;
        outline: none;

        &:after {
            text-decoration: none;
            font-size: 10rem;
            line-height: 40rem;

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            text-align: center;
            content: attr(alt);
            box-sizing: border-box;
            border: 1px solid #333;
        }
    }
}

#jobs > * {
    margin: auto;
}

#jobs > table {
    margin-top: 2rem;
    border: 1px solid hsl(55, 100%, 93%, 0.2);
}

#jobs td:nth-child(1) a {
    color: lightgray;
    text-decoration: none;
    scroll-margin-top: calc(50vh - 2rem);
}

th, td {
    padding: 0.05rem 0.75rem;
}

tr:nth-child(odd) {
    background: hsl(55, 100%, 93%, 0.2);
}

.actions {
    white-space: nowrap;
}

.actions a {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    width: 1.5rem;
}

#empty-queue {
    opacity: 0.7;
}

span[disabled] {
    opacity: 0.6;
}
