@import "fonts.css";

:root {
    --backgrounds: black;
    --borders: #333;
    --text: darkgray;
    --accent: crimson;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--backgrounds);
    color: lightyellow;
    text-align: center;
    font-family: var(--sans);
    font-size: 1.6rem;
}

:focus-visible {
    outline: 1px solid var(--accent);
}

nav, h4 {
    color: var(--text);
    word-wrap: break-word;
}

nav a {
    text-decoration: none;
}

img {
    width: 100%;
    outline: 1px solid var(--borders);
    user-select: none;
}

a {
    color: var(--accent);
}

h4 a {
    text-decoration: none;
    border: 1px solid var(--borders);
    padding: 0.3rem 0.75rem;

    &:first-child {
        color: var(--text);
    }
}

.page {
    position: relative;
    display: inline-block;
    overflow-x: auto;
}

.page pre {
    font-family: var(--sans);
    white-space-collapse: preserve-breaks;
    text-wrap-mode: nowrap;
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    text-align: left;
    line-height: 1.1em;
    /* background: hsl(55 100% 95%); */
    background: white;
    color: black;
    margin: 0;
    border: 1rem solid transparent;
    outline: 1px solid black;
    translate: -1rem -1rem;

    &:hover {
        opacity: 1;
    }

    & .anki-mature {
        color: forestgreen;
    }

    & .anki-young {
        color: chocolate;
    }

    & .anki-new {
        color: firebrick;
    }
}

#non-images > a {
    --height: 40rem;

    display: inline-block;
    vertical-align: bottom;
    scroll-margin-top: calc(50vh - var(--height) / 2 - 3rem - 1.6rem);
    width: 25%;
    min-width: min(calc(100% - 2rem), 25rem);
    max-width: 60rem;
    margin: 1rem;
    text-decoration: none;

    &:has(span[title^="Read the"]) {
        opacity: 0.75;
    }

    & > h4 {
        text-decoration: underline;
        text-decoration-color: var(--accent);
        margin: 1.5rem 0;
        display: inline;
    }

    .folder-status {
        white-space: nowrap;

        & span {
            white-space: nowrap;
        }

        & span[title$="OCR'ed"][title^="0/"] {
            color: var(--text);
        }

        & span[title$="OCR'ed"][title^="0/0"] {
            display: none;
        }
    }

    > img {
        position: relative;
        min-width: 100%;
        height: var(--height);
        min-height: var(--height);
        object-fit: contain;
        outline: none;

        &:after {
            text-decoration: none;
            font-size: 10rem;
            line-height: var(--height);

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--backgrounds);
            text-align: center;
            content: attr(alt);
            box-sizing: border-box;
            border: 1px solid var(--borders);
        }
    }
}

#jobs > * {
    margin: auto;
}

#jobs > a {
    text-decoration: none;
    padding: 0 0.75rem;
}

#jobs > table {
    margin-top: 2rem;
    border: 1px solid hsl(55, 100%, 93%, 0.2);
}

#jobs td:nth-child(1) a {
    color: var(--text);
    text-decoration: none;
    scroll-margin-top: calc(50vh - 2rem);
}

th, td {
    padding: 0.05rem 0.75rem;
}

tr:nth-child(odd) {
    background: hsl(55, 100%, 93%, 0.2);
}

.actions {
    white-space: nowrap;
}

.actions a {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    width: 1.5rem;
}

#empty-queue {
    opacity: 0.7;
}

span[disabled] {
    opacity: 0.6;
}

.sort-ocr-warning {
    margin-top: 0;
    opacity: 0.65;
    display: none;
}

body:has(input[name=sort][value=d]:checked) .sort-ocr-warning,
body:has(input[name=sort][value=a]:checked) .sort-ocr-warning {
    display: unset;
}
