@import "modern-normalize.css";
@import "fonts.css";
@import "scrollbar.css";

:root {
    --backgrounds: black;
    --backgrounds-lighter: #161616;
    --borders: #333;
    --text: lightyellow;
    --text-darker: #d3d3b9;
    --text-darkest: #a1a198;
    --accent: crimson;
    --accent-darker: firebrick;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--backgrounds);
    color: var(--text);
    text-align: center;
    font-family: var(--sans);
    font-size: 1.6rem;
}

:focus-visible {
    outline: 1px solid var(--accent);
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

a {
    color: var(--accent);
    border: 0 solid var(--accent);
    transition: 0.2s color;

    &:hover {
        color: var(--accent-darker);
    }
}

button, .button {
    background: var(--backgrounds-lighter);
    color: var(--text);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    border: 1px solid var(--accent-darker);
    transition: 0.2s color, 0.2s border-color, 0.15s scale;
    cursor: pointer;

    &:hover {
        color: var(--text-darker);

        .accent {
            color: var(--accent-darker);
        }
    }

    &.accent:hover {
        color: var(--accent-darker);
    }

    &:active {
        scale: 0.9;
    }
}

.accent {
    color: var(--accent);
    transition: 0.2s color;
}

h2 {
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

h3 {
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
}

table {
    border: 1px solid var(--borders);
}

th {
    font-weight: normal;
    padding: 0 1rem;
}

td {
    padding: 0.05rem 0.5rem;
}

tbody tr:nth-child(odd) {
    background: hsl(55, 100%, 93%, 0.2);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--borders);
    line-height: 2.6rem;
    padding: 0 0.25rem;

    &.bottom {
        border-bottom: 0;
        border-top: 1px solid var(--borders);
    }

    & .button, & .folder-name {
        white-space: nowrap;
        text-decoration: none;
    }

    & .button {
        padding: 0 0.5rem;
        margin: 0.5rem 0.25rem;
        font-size: 2rem;
    }

    & .folder-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.6rem;
        margin: 0 0.25rem;
        font-weight: normal;
        text-align: left;
        width: 100%;
    }
}

section:has(h2:only-child) {
    display: none;
}

#actions {
    margin: 0 1rem;
}

[popover] {
    max-width: 90vw;
    max-height: 90vh;
    background: var(--backgrounds);
    color: var(--text);
    border-color: var(--borders);

    & h3 {
        margin-top: 0;
    }

    & h4 {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

nav [popover] {
    inset: unset;
    top: 4.35rem;
    right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

nav.bottom [popover] {
    top: unset;
    bottom: 4.35rem;
}

.anki[popover] {
    width: min(100%, 40em);

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    & table {
        width: 100%;
    }

    & td select, td button {
        width: 100%;
        text-align: center;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

select, input {
    background: var(--backgrounds-lighter);
    color: var(--text);
    border: 1px solid var(--borders);

    &::placeholder {
        color: var(--text-darker);
    }
}

input {
    padding: 0.25rem 0.5rem;
}

figure {
    margin: 0;
}

figcaption {
    width: fit-content;
}

.image-entry img {
    width: 100%;
    border: 1px solid var(--borders);
    user-select: none;
}

.image-entry-info {
    margin: 2rem auto;
    border: 1px solid var(--borders);
    padding: 0.3rem 0.75rem;
    font-size: 1.4rem;

    & h3 {
        margin: 0;
    }

    & a {
        color: var(--text);
        text-decoration: none;

        &:hover {
            color: var(--text-darker);
            border-color: var(--text-darker);
        }
    }
}

.progress {
    line-height: 2.8rem;
    margin: 0 0.25rem;
}

.image-entry-wrapper {
    position: relative;
    display: inline-block;
    overflow-x: auto;
}

.ocr-group {
    transition: opacity 0.2s;
    opacity: 0;

    &:hover {
        opacity: 1;
    }

    & .full-dots {
        letter-spacing: -0.15em;
    }
}

.ocr-box-bg, .ocr-box-fg {
    font-family: var(--sans);
    white-space-collapse: preserve-breaks;
    text-wrap-mode: nowrap;
    position: absolute;
    text-align: left;
    line-height: 1.1em;
    color: black;
    margin: 0;

    & .anki-mature {
        color: forestgreen;
    }

    & .anki-young {
        color: chocolate;
    }

    & .anki-new {
        color: firebrick;
    }
}

.ocr-box-bg {
    z-index: 100;
    background: white;
    outline: solid white;
    color: transparent;
    user-select: none;
    pointer-events: none;

    & * {
        color: transparent !important;
    }
}

.ocr-box-fg {
    z-index: 101
}

#sort {
    margin-top: 1rem;

    & h3 {
        display: inline;
    }

    & .button {
        margin: 0 0.25rem;
    }
}

#files ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 0.5rem;
    max-width: 150rem;
}

.file-entry {
    --height: 40rem;
    /* Match Japanese B6 paper format, common for manga */
    --normal-width: calc(var(--height) / (182 / 128));

    &.drive {
        --height: 20rem;
    }

    width: min(calc(100% - 2rem), var(--normal-width));
    margin: 1rem;
    text-decoration: none;

    > a[id] {
        scroll-margin-top: calc(50vh - var(--height) / 2 - 3rem - 1.6rem);
    }

    &:has(span[title^="Read the"]) {
        opacity: 0.5;
    }

    & .file-name {
        margin: 0.5rem 0;
        font-weight: normal;

        & a {
            text-decoration: none;
            font-size: 1.6rem;
        }
    }

    & .folder-status {
        white-space: nowrap;

        & span {
            white-space: nowrap;
        }

        & span[title$="OCR'ed"][title^="0/"] {
            color: var(--text-darkest);
        }

        & span[title$="OCR'ed"][title^="0/0"] {
            display: none;
        }
    }

    & .file-thumbnail {
        position: relative;
        min-width: 100%;
        width: 100%;
        height: var(--height);
        min-height: var(--height);
        object-fit: contain;
        border: 1px solid var(--borders);

        &:after {
            text-decoration: none;
            font-size: calc(var(--height) / 4);
            line-height: var(--height);

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--backgrounds);
            text-align: center;
            content: attr(alt);
            box-sizing: border-box;
            border: 1px solid var(--borders);
        }
    }
}

.ocr[popover] {
    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > a {
        text-decoration: none;
        padding: 0 0.25rem;
    }

    & table {
        margin-top: 1rem;
    }

    & td {
        padding: 0.05rem 0.5rem;
    }

    & td:nth-child(1) a {
        color: var(--text);
        text-decoration: none;
        scroll-margin-top: calc(50vh - 2rem);
    }

    & .actions {
        white-space: nowrap;
    }

    & .actions a {
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        width: 1.5rem;
    }

    & #empty-queue {
        margin: 0;
        margin-top: 0.5rem;
        color: var(--text-darkest);
    }
}

.sort-ocr-warning {
    margin-top: 0.5rem;
    color: var(--text-darkest);
    display: none;
}

body:has(#sort a[value=d].checked) .sort-ocr-warning,
body:has(#sort a[value=a].checked) .sort-ocr-warning,
body:has(#sort a[value=x].checked) .sort-ocr-warning {
    display: block;
}

.anki-connected {
    margin: 0 1rem;
}

details:not(:has(.anki-connected)) .anki-filters-title {
    display: none;
}

.anki-filters-title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: normal;
}

.anki-learned-count {
    margin-top: 0.25rem;
    margin-bottom: 0;
}
