.ocr[popover] {
    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > a {
        text-decoration: none;
        padding: 0 0.25rem;
    }

    & table {
        margin-top: 1rem;
    }

    & tr.current {
        background: color-mix(in srgb, var(--accent-darker) 50%, transparent);
    }

    & td {
        padding: 0.05rem 0.5rem;
    }

    & td:nth-child(1) a {
        color: var(--text);
        text-decoration: none;
        scroll-margin-top: calc(50vh - 2rem);
    }

    & .actions {
        white-space: nowrap;
    }

    & .actions a {
        text-decoration: none;
        font-weight: 600;
        display: inline-block;
        width: 1.5rem;
    }

    & #empty-queue {
        margin: 0;
        margin-top: 0.5rem;
        color: var(--text-darkest);
    }
}

.progress {
    line-height: 2.8rem;
    margin: 0 0.25rem;
}
