:root {
    --sb-track-color: var(--borders);
    --sb-thumb-color: var(--accent);
    --sb-corner-color: var(--backgrounds-lighter);
    --sb-size: 1rem;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border: 0.33rem solid var(--sb-track-color);
}

::-webkit-scrollbar-corner {
    border: 1px solid var(--sb-track-color);
    border-top: 0;
    border-left: 0;
    background: var(--sb-corner-color);
}

@supports not selector(::-webkit-scrollbar) {
    html {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: thin;
    }
}
