<details open>
    <summary>Sort folders by</summary>
    <form action="">
        {% macro radio(l, v) -%}
            {% set c = "checked" if sort == v else "" %}
            <label><input type=radio name=sort value={{v}} {{c}}>{{l}}</label>
        {%- endmacro %}
        {{radio("Name", "")}}
        {{radio("Date modified", "m")}}
        {{radio("Date read", "r")}}
        {{radio("Length", "l")}}
        {{radio("Difficulty", "d")}}
        {{radio("Anki learned%", "a")}}
        {{radio("Length x difficulty", "x")}}
        <button type=submit>Set</button>
    </form>

    <p class=sort-ocr-warning>
        Difficulty and Anki stats are calculated for folders in which all
        images are OCRed
    </p>
</details>
<br>

<details open>
    <summary>OCR</summary>

    {% if path.ocr_running %}
        <span class=progress title="In progress">
            ⏵ {{path.ocr_progress_text}}
        </span>
    {% elif path.ocr_paused %}
        <span class=progress title="All OCR jobs are paused">
            ⏸ {{path.ocr_progress_text}}
        </span>
    {% elif path.ocr_queued %}
        <span class=progress title="Waiting for other jobs to finish">
            ⏳{{no_emoji}} {{path.ocr_progress_text}}
        </span>
    {% elif path.ocr_done %}
        <span class=progress title="OCR done">
            ✔ {{path.ocr_progress_text}}
        </span>
    {% endif %}
    <a href="/jobs#{{path.as_anchor}}">Queue ({{queue_count}})</a>

    <form action="/ocr/start{{path.url()}}">
        <span {{"" if path.ocr_can_begin else "disabled"}}>
            <input type=hidden name=sort value="{{sort}}">
            <input type=hidden name=referer value="{{request.url}}">
            {% if next_chapter %}
                <label>
                    <input type=checkbox name=keep_going value=1>
                    Scan next folders too
                    (<a
                        title="..{{os_sep}}{{next_chapter.name}}"
                        href="{{next_chapter.url(sort=sort)}}"
                    >..{{os_sep}}{{ellide(next_chapter.name, 30)}}
                    </a> and further)
                </label>
            {% endif %}
            <label>
                <input type=checkbox name=recursive value=1>
                Recurse down subfolders
            </label>
            <label>
                <input type=checkbox name=prioritize value=1>
                Add to front of the queue
            </label>
            <button type=submit>Start</button>&emsp;
        </span>
    </form>
</details>
<br>

<details open>
    <summary>Anki</summary>
    <form class=anki action="/anki/load">
        <label>Address:
            <input type=url name=api
                value="{{anki.api or anki.DEFAULT_API}}">
        </label>
        <label>API Key:
            <input type=password name=key
                placeholder="Leave blank if not set up">
        </label>

        <input type=hidden name=referer value="{{request.url}}">

        {% if anki.loaded %}
            <button class=connect type="submit">Reload</button>
            <span class=anki-connected>✔ Connected</span>
        {% else %}
            <button class=connect type="submit">Connect</button>
        {% endif %}
    </form>

    <h4 class=anki-filters-title>Gather learned words from:</h4>

    {% for filter in anki.filters %}
        <form class="anki-filter-row" action="/anki/filter/del">
            <label>Deck:
                <select disabled><option>
                    {{"Any" if filter[0] == "*" else filter[0]}}
                </option></select>
            </label>
            <label>Note Type:
                <select disabled><option>{{filter[1]}}</option></select>
            </label>
            <label>Note Field:
                <select disabled><option>{{filter[2]}}</option></select>
            </label>

            <input type=hidden name=index value="{{loop.index0}}">
            <input type=hidden name=referer value="{{request.url}}">
            <button type="submit">Remove</button>
        </form>
    {% endfor %}

    {% if anki.loaded %}
        <form class="anki-filter-row add-row" action="/anki/filter/add">
            <label>Deck:
                <select name="deck">
                    <option value="*">Any</option>
                    {% for deck in anki.decks %}
                        <option value="{{deck}}">{{deck}}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Note Type:
                <select name="note_type">
                    <option value="*">Any</option>
                    {% for note in anki.note_types %}
                        <option value="{{note}}">{{note}}</option>
                    {% endfor %}
                </select>
            </label>

            <label>Note Field:
                <select name="field">
                    {% for field in (anki.note_fields | sort) %}
                        <option value="{{field}}">{{field}}</option>
                    {% endfor %}
                </select>
            </label>

            <input type=hidden name=referer value="{{request.url}}">
            <button type="submit">Add</button>
        </form>
    {% endif %}

    {% if anki.loaded and (anki.filters or anki.learned_count) %}
        <p class=anki-learned-count>
            ✔ {{anki.learned|length}} learned words parsed
            ({{anki.young|length}} young, {{anki.mature|length}} mature)
        </p>
    {% endif %}
</details>
<br>
