<h4>
    <a href="#{{img.as_anchor}}">{{img.name}}</a>
    {% if index1 > progress[0] %}
        <a
            href="{{force_refresh_url}}#{{img.as_anchor}}"
            title="OCR in progress, click to refresh"
        >⟳</a>
    {% endif %}
</h4>

<div class=page>
    <img id="{{img.as_anchor}}" src="{{img.url()}}" loading=lazy>

    {% for group in path.ocr_box_groups(img) %}
        <div class=ocr-group>
        {% for box in group %}
            {% for kind in ["bg", "fg"] %}
                <pre class=ocr-box-{{kind}} style="
                    left: {{box.x * 100}}%;
                    top: {{box.y * 100}}%;
                    font-size: min(
                        {{box.font_size}}px,
                        {{box.font_size * 100 / box.image_w}}vw
                    );
                    {% if box.vertical %}
                        writing-mode: vertical-rl;
                        {# Affects normalized single width ?/!/etc #}
                        text-orientation: upright;
                    {% endif %}
                ">
                    {{"\n".join(box.lines)}}
                </pre>
            {% endfor %}
        {% endfor %}
        </div>
    {% endfor %}
</div>
