<!DOCTYPE html><html>
<head>
    <title>{{path.name or path}} | {{DISPLAY_NAME}}</title>

    <meta charset=utf-8>
    <meta name=viewport content="width=device-width">
    <meta name=referrer content=strict-origin>

    <link rel=stylesheet href=/style/main.css>
</head>

<body>
    {% set progress = path.ocr_progress %}

    <nav>
        {% include "nav.html.jinja" %}
    </nav>

    <div id="actions">
        {% include "actions.html.jinja" %}
    </div>

    <div id=non-images>
        {% for path in path.non_images(sort) %}
            {% include "non-image.html.jinja" %}
        {% endfor %}
    </div>

    {% for img in path.images %}
        {% set index1 = loop.index %}
        {% include "image.html.jinja" %}
    {% endfor %}

    {% include "nav.html.jinja" %}
</body></html>
