<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{path.name or path}} | {{DISPLAY_NAME}}</title>

        <meta charset=utf-8>
        <meta name=viewport content="width=device-width">
        <meta name=referrer content=strict-origin>

        <link rel=stylesheet href=/style/init.css>
    </head>
    <body id="folder-page">
        {% set progress = path.ocr_progress %}

        <nav>
            {% set side = "top"%}
            {% include "nav.html.jinja" %}
        </nav>

        <section id=files>
            <h2>Files</h2>
            {% include "file-options.html.jinja" %}
            <ul>
                {% set ns = namespace(break_done=False) %}
                {% for path in path.non_images(sort) %}
                    {% if not ns.break_done and (
                        (sort == "p" and not path.page_count) or
                        (sort == "r" and not path.read_date) or
                        (sort in ["d", "a", "x"] and not path.difficulty)
                    ) %}
                        <li class="flex-row-break"></li>
                        {% set ns.break_done = True %}
                    {% endif %}

                    <li class="file-entry">{% include "file.html.jinja" %}</li>
                {% endfor %}
            </ul>
        </section>

        <section id="images">
            <h2>Images</h2>
            {% for img in path.images %}
                <figure class="image-entry">
                    {% set index1 = loop.index %}
                    {% include "image.html.jinja" %}
                </figure>
            {% endfor %}
        </section>

        <nav class="bottom">
            {% set side = "bottom"%}
            {% include "nav.html.jinja" %}
        </nav>
    </body>
</html>
