<!DOCTYPE html><html>
<head>
    <title>OCR Jobs | {{DISPLAY_NAME}}</title>

    <meta charset=utf-8>
    <meta name=viewport content="width=device-width">
    <meta name=referrer content=strict-origin>
    <meta http-equiv=refresh content=3>

    <link rel=stylesheet href=/style/main.css>
</head>

<body id=jobs>
    <a href="/ocr/pause">{{"Resume" if paused else "Pause"}}</a>
    <a href="/ocr/clear">Cancel all</a>

    <table>
        <tr>
            <th>Folder</th>
            <th></th>
            <th>Progress</th>
            <th>Actions</th>
        </tr>

        {% for path in queue %}
            <tr>
                <td>
                    <a id="{{to_anchor(path)}}" href="{{to_url(path)}}">
                        {{path}}
                    </a>
                </td>
                <td>
                    {% if path.ocr_paused %}
                        ⏸
                    {% elif path.ocr_running %}
                        ⏵︎
                    {% endif %}
                </td>
                <td>{{path.ocr_progress_text}}</td>
                <td class=actions>
                    <a href="/ocr/shift/-1/{{path}}" alt="Move up">🠋</a>
                    <a href="/ocr/shift/+1/{{path}}" alt="Move down">🠉</a>
                    <a href="/ocr/move/0/{{path}}" alt="Process now ">⭱</a>
                    <a href="/ocr/move/end/{{path}}" alt="Process last">⭳</a>
                    <a href="/ocr/cancel/{{path}}" alt="Cancel">✖</a>
                    <a
                        href="/ocr/cancel/{{path}}?recursive=1"
                        alt="Cancel this and all subfolders recursively"
                    >〷</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if not queue %}
        <p id=empty-queue>Queue is empty</p>
    {% endif %}
</body></html>
