<nav>
    {% set next_chapter = path.next_chapter(sort) %}
    <h2>
        {% set parent = path.unextracted.parent %}
        {% if parent == path %}
            <a title="This PC" href="/">⭡</a>&#32;
        {% else %}
            <a
                title=Parent
                href="{{parent.url(sort=sort)}}#{{path.as_anchor}}"
            >⭡</a>
        {% endif %}
        &ensp;

        {% if path.previous_chapter(sort) %}
            <a
                title=Previous
                href="{{path.previous_chapter(sort).url(sort=sort)}}"
            >⭠</a>&#32;
        {% endif %}

        {{path.name or path}}

        {% if next_chapter %}
            &#32;<a
                title=Next
                href="{{next_chapter.url(sort=sort)}}"
            >⭢</a>
        {% endif %}

        &ensp;
        {% set tail = path.url() ~ "?referer=" ~ request.url %}
        {% if path.has_mark("read") %}
            <a title="Mark as unread" href="/mark/unread{{tail}}">
                📖{{no_emoji}}<sup>✖</sup>
            </a>
        {% else %}
            <a title="Mark as read" href="/mark/read{{tail}}">
                📖{{no_emoji}}<sup>✔</sup>
            </a>
        {% endif %}
    </h2>

    {% macro check(v) -%}{{"checked" if sort == v else ""}}{%- endmacro %}
    <details open>
        <summary>Sort folders by</summary>
        <form action="">
            <label>
                <input type=radio name=sort value="" {{check("")}}>
                Name
            </label>
            <label>
                <input type=radio name=sort value=m {{check("m")}}>
                Date modified
            </label>
            <label>
                <input type=radio name=sort value=p {{check("p")}}>
                Page count
            </label>
            <label>
                <input type=radio name=sort value=d {{check("d")}}>
                Difficulty
            </label>
            <label>
                <input type=radio name=sort value=a {{check("a")}}>
                Anki learned %
            </label>
            <label>
                <input type=radio name=sort value=r {{check("r")}}>
                Date read
            </label>
            <button type=submit>Set</button>
        </form>

        <p class=sort-ocr-warning>
            Difficulty and Anki stats are calculated for folders in which all
            images are OCRed
        </p>
    </details>
    <br>

    <details open>
        <summary>OCR</summary>

        {% if path.ocr_running %}
            <div class=progress>⏵ {{path.ocr_progress_text}}</div>
        {% elif path.ocr_paused %}
            <div class=progress>⏸ {{path.ocr_progress_text}}</div>
        {% elif path.ocr_done %}
            <div class=progress>✔ {{path.ocr_progress_text}}</div>
        {% endif %}

        <form action="/ocr/start{{path.url()}}">
            <span {{"" if path.ocr_can_begin else "disabled"}}>
                <input type=hidden name=sort value="{{sort}}">
                <input type=hidden name=referer value="{{request.url}}">
                {% if next_chapter %}
                    <label>
                        <input type=checkbox name=keep_going value=1>
                        Scan next folders too
                        (<a
                            href="{{next_chapter.url(sort=sort)}}"
                        >..{{os_sep}}{{next_chapter.name}}
                        </a> and further)
                    </label>
                {% endif %}
                <label>
                    <input type=checkbox name=recursive value=1>
                    Recurse down subfolders
                </label>
                <label>
                    <input type=checkbox name=prioritize value=1>
                    Add to front of the queue
                </label>
                <button type=submit>Start</button>&emsp;
            </span>

            <a href="/jobs#{{path.as_anchor}}">Queue</a>
        </form>
    </details>
    <br>

    <details open>
        <summary>Anki</summary>
        <form class=anki action="/anki/load">
            <label>Address:
                <input type=url name=api
                    value="{{anki.api or anki.DEFAULT_API}}">
            </label>
            <label>API Key:
                <input type=password name=key
                    placeholder="Leave blank if not set up">
            </label>

            <input type=hidden name=referer value="{{request.url}}">

            {% if anki.loaded %}
                <button class=connect type="submit">Reload</button>
                <span class=anki-connected>✔ Connected</span>
            {% else %}
                <button class=connect type="submit">Connect</button>
            {% endif %}
        </form>

        <h4 class=anki-filters-title>Gather learned words from:</h4>

        {% for filter in anki.filters %}
            <form class="anki-filter-row" action="/anki/filter/del">
                <label>Deck:
                    <select disabled><option>{{filter[0]}}</option></select>
                </label>
                <label>Note Type:
                    <select disabled><option>{{filter[1]}}</option></select>
                </label>
                <label>Note Field:
                    <select disabled><option>{{filter[2]}}</option></select>
                </label>

                <input type=hidden name=index value="{{loop.index0}}">
                <input type=hidden name=referer value="{{request.url}}">
                <button type="submit">Remove</button>
            </form>
        {% endfor %}

        {% if anki.loaded %}
            <form class="anki-filter-row add-row" action="/anki/filter/add">
                <label>Deck:
                    <select name="deck">
                        <option value="*">Any</option>
                        {% for deck in anki.decks %}
                            <option value="{{deck}}">{{deck}}</option>
                        {% endfor %}
                    </select>
                </label>

                <label>Note Type:
                    <select name="note_type">
                        <option value="*">Any</option>
                        {% for note in anki.note_types %}
                            <option value="{{note}}">{{note}}</option>
                        {% endfor %}
                    </select>
                </label>

                <label>Note Field:
                    <select name="field">
                        {% for field in (anki.note_fields | sort) %}
                            <option value="{{field}}">{{field}}</option>
                        {% endfor %}
                    </select>
                </label>

                <input type=hidden name=referer value="{{request.url}}">
                <button type="submit">Add</button>
            </form>
        {% endif %}

        {% if anki.filters or anki.learned_count %}
            <p class=anki-learned-count>
                ✔ {{anki.learned|length}} learned words parsed
                ({{anki.young|length}} young, {{anki.mature|length}} mature)
            </p>
        {% endif %}
    </details>
    <br>
</nav>
