<nav>
    <h2>
        {% set parent = path.unextracted.parent %}
        {% if parent == path %}
            <a title="This PC" href="/">⭡</a>&#32;
        {% else %}
            <a title=Parent href="{{parent.url}}#{{path.as_anchor}}">
                ⭡
            </a>&#32;
        {% endif %}

        {% if path.previous_chapter(sort) %}
            <a title=Previous href="{{path.previous_chapter(sort).url}}">
                ⭠
            </a>&#32;
        {% endif %}

        {{path.name or path}}&#32;

        {% if path.next_chapter(sort) %}
            <a title=Next href="{{path.next_chapter(sort).url}}">⭢</a>
        {% endif %}
    </h2>

    {% macro check(v) -%}{{"checked" if sort == v else ""}}{%- endmacro %}
    <details open>
        <summary>Sort folders by</summary>
        <form action="">
            <label>
                <input type=radio name=sort value="" {{check("")}}>
                Name
            </label>
            <label>
                <input type=radio name=sort value=m {{check("m")}}>
                Date modified
            </label>
            <label>
                <input type=radio name=sort value=p {{check("p")}}>
                Page count
            </label>
            <label>
                <input type=radio name=sort value=d {{check("d")}}>
                Difficulty
            </label>
            <button type=submit>Set</button>
        </form>
    </details>
    <br>

    <details open>
        <summary>OCR</summary>
        <form action="/ocr/start{{path.url}}">
            <span {{"" if path.ocr_can_begin else "disabled"}}>
                <input type=hidden name=sort value="{{sort}}">
                <input type=hidden name=referer value="{{request.url}}">
                <label>
                    <input
                        type=checkbox
                        name=keep_going
                        value=1
                        {{"" if path.next_chapter else "disabled"}}
                    >
                    Scan next chapters/folders too
                </label>
                <label>
                    <input type=checkbox name=recursive value=1>
                    Recurse down subfolders
                </label>
                <label>
                    <input type=checkbox name=prioritize value=1>
                    Add to front of the queue
                </label>
                <button type=submit>Start</button>&emsp;
            </span>

            {% if path.ocr_running %}
                <span class=progress>⏵ {{path.ocr_progress_text}}</span>&emsp;
            {% elif path.ocr_paused %}
                <span class=progress>⏸ {{path.ocr_progress_text}}</span>&emsp;
            {% endif %}

            <a href="/jobs#{{path.as_anchor}}">Queue</a>
        </form>
    </details>
    <br>
</nav>
