<a id={{path.as_anchor}} href="{{path.url(sort=sort)}}">
    <h4>{{path.name}}</h4>

    {% set progress = path.ocr_progress %}
    {% set prog_txt = path.ocr_progress_text %}
    {% set prog_shown = prog_txt %}
    {% if progress[0] == progress[1] or not progress[0] %}
        {% set prog_shown = progress[1] %}
    {% endif %}

    {% set icon = "🗏 " %}
    {% if path.ocr_running %} {% set icon = "⏵ " %} {% endif %}
    {% if path.ocr_queued %}
        {% set icon = "⏳" ~ no_emoji ~ " " %}
    {% endif %}
    {% if path.ocr_paused %} {% set icon = "⏸ " %} {% endif %}

    <span class=folder-status>
        <span title="{{prog_txt}} pages OCR'ed">
            {{icon}}{{prog_shown}}
        </span>

        {% set dif = path.difficulty %}
        {% if dif %}
            <span title="
Average words per page: {{dif.terms_per_page | round(1)}}
Unique words: {{dif.unique_terms}}
Learned in Anki: {{dif.anki_learned}} ({{dif.anki_learned_percent | int}}%)
Mature: {{dif.anki_mature}} ({{dif.anki_mature_percent | int}}%)
Raw difficulty: {{dif.raw_score | int}}
Anki decrease: {{dif.anki_score_decrease | int}} ({{dif.anki_score_decrease_percent | int}}%)
            ">
                🗲&hairsp;{{dif.score | int}}
            </span>
        {% endif %}

        {% set rd = path.read_date %}
        {% if rd %}
            <span title="{{rd[0].strftime('Read the %F at %T')}}">
                ✔{{rd[2]}}
            </span>
        {% endif %}
    </span>

    <img
        alt="{{'🗀' if path.is_dir() else '🗎'}}"
        src="/thumbnail{{path.url()}}"
        loading=lazy
    >
</a>
