<!DOCTYPE html>
<html lang=en>
    <head>
        <title>This PC | {{DISPLAY_NAME}}</title>

        <meta charset=utf-8>
        <meta name=viewport content="width=device-width">
        <meta name=referrer content=same-origin>

        <link rel=stylesheet href=/style/init.css>
        <link rel=icon href=/style/favicon.ico type=image/x-icon>
    </head>
    <body id="drives-page">
        <h1>This PC</h1>

        <section id=files>
            <h2>Drives</h2>
            <ul>
                {% for path in drives %}
                    <li class="file-entry drive">
                        {% include "file.html.jinja" %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </body>
</html>
