<figcaption class="image-entry-info">
    <h3 lang="und">
        <a href="#{{img.as_anchor}}">{{img.name}}</a>
    </h3>
    {% if path.ocr_running and index1 > progress[0] %}
        <a
            class="refresh"
            href="{{force_refresh_url}}#{{img.as_anchor}}"
            title="OCR in progress, click to refresh"
        >⟳</a>
    {% endif %}
    {% if (path.ocr_running or path.ocr_queued or path.ocr_paused)
           and index1 > progress[0] %}
        <button
            class="open-ocr"
            popovertarget="ocr-popup-top"
            title="Open OCR jobs list"
        >☰</a>
    {% endif %}
</figcaption>

<div class="image-entry-wrapper">
    {% set dim = img.dimensions %}
    <img
        id="{{img.as_anchor}}"
        src="{{img.url()}}"
        loading=lazy
        width="{{dim[0] if dim else ''}}"
        height="{{dim[1] if dim else ''}}"
    >

    {% for group in path.ocr_box_groups(img) %}
        {% set ovl = "has-overlap" if group.has_overlap(0) else "" %}
        <div class="ocr-group {{ovl}}" lang="ja">
        {% for box in group %}
            {# Match .full-dots letter-spacing CSS #}
            {% set ls = ([0, box.fullwidth_dots - 1] | max) * 0.15 ~ "em" %}

            {% set font_size = "min(" ~
                box.font_size ~ "px, " ~
                "calc(" ~ box.max_fit_font_px ~ "px + " ~ ls ~ "), " ~
                box.font_size * 100 / box.image_w ~ "vw, " ~
                "calc(" ~ box.max_fit_font_px * 100 / box.image_w ~
                    "vw + " ~ ls ~ ")"
            ")" %}

            <div class="ocr-box-pair">
                {% for kind in ["bg", "fg"] %}
                    <pre class=ocr-box-{{kind}} style="
                        left: {{box.x * 100}}%;
                        top: {{box.y * 100}}%;
                        {% if kind == 'fg' %}
                            width: {{box.w * 100}}%;
                            height: {{box.h * 100}}%;
                        {% else %}
                            min-width: {{box.w * 100}}%;
                            min-height: {{box.h * 100}}%;
                            outline-width: min(1rem, calc({{font_size}} / 3));
                        {% endif %}
                        font-size: {{font_size}};
                        {% if box.vertical %}
                            writing-mode: vertical-rl;
                        {% endif %}
                    ">
                        {{"\n".join(box.lines)}}
                    </pre>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
