{% set target = path.previous_chapter(sort) %}
<a
    class="previous-folder button accent"
    title="Previous: {{target}}"
    href="{{target.url(sort=sort) if target else ''}}"
    {{"" if target else "disabled"}}
>⭠</a>

{% set target = path.next_chapter(sort) %}
<a
    class="next-folder button accent"
    title="Next: {{target}}"
    href="{{target.url(sort=sort) if target else ''}}"
    {{"" if target else "disabled"}}
>⭢</a>

{% if path.unextracted.is_root_dir %}
    <a
        class="parent-folder button accent"
        title="Parent: This PC"
        href="/"
    >⭡</a>
{% else %}
    {% set target = path.unextracted.parent %}
    <a
        class="parent-folder button accent"
        title="Parent: {{target}}""
        href="{{target.url(sort=sort)}}#{{path.as_anchor}}"
    >⭡</a>
{% endif %}

{% if path.has_mark("read") %}
    <a
        id="toggle-read-{{side}}"
        class="toggle-read button accent"
        title="Mark as unread"
        href="/mark/unread{{path.url()}}?focus=toggle-read-{{side}}"
    >📖{{no_emoji}}<sup>✖</sup></a>
{% else %}
    <a
        id="toggle-read-{{side}}"
        class="toggle-read button accent"
        title="Mark as read"
        href="/mark/read{{path.url()}}?focus=toggle-read-{{side}}"
    >📖{{no_emoji}}<sup>✔</sup></a>
{% endif %}

{% set title_tag = "h1" if side == "top" else "p" %}
<{{title_tag}} class="folder-name" lang="und">
    {{path.display_name}}
</{{title_tag}}>

<button class="anki button" popovertarget="anki-popup-{{side}}">
    Anki
    <span class="accent">
        {{anki.learned | length if anki.loaded else "✕"}}
    </span>
</button>

<button class="ocr button" popovertarget="ocr-popup-{{side}}">
    OCR
    <span class="accent">
        {{"⏸" if queue_paused else queue | length}}
    </span>
</button>

<div id="anki-popup-{{side}}" class="anki" popover>
    {% include "anki-popup.html.jinja" %}
</div>

<div id="ocr-popup-{{side}}" class="ocr" popover>
    {% include "ocr-popup.html.jinja" %}
</div>
